<!-- wp:template-part {"slug":"checkout-header","theme":"purple","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1000px"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:0"><!-- wp:woocommerce/store-notices /-->

	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->

</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->
