<!-- wp:template-part {"slug":"checkout-header","theme":"purple","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"1000px"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:woocommerce/store-notices /-->

	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->

	<!-- wp:spacer {"height":"var:preset|spacing|20"} -->
	<div style="height:var(--wp--preset--spacing--20)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->
